/*Start of directory page*/
	
	/*Class for JS toogle.js , it's show or hide list on click*/
	.toogleChildren {
		display: none;
	}
	
	.define5  li:nth-child(n+6)  {
		display: none;
	}
	
	.breadcrumbs-wrapper {
		background-color: #ffd93b;	
		min-height: 54px;

	}
	
	.breadcrumbs {
		margin: 0;
		padding: 15px 40px;
		
		li {
			list-style: none;	
			display: inline-block;
			
			&:after {
				content: "/";	
				padding-left: 5px;
			}
			
			&:last-child  a{
				text-decoration: none;
			}
			
			&:last-child:after  {
				content: "";
			}
		}
		
		a {
			color: #070707;
			font-size: 15px;			
		}		
	}
	
	.tabs {
		.directory-nav {
			margin-top: 30px;
			width: 17%;
			min-width: 331px;
			margin-bottom: 10px;
			margin-right: 0;
			
			ul li a {
				font-size: 18px;
				padding: 5px 15px;
			}
		}
	}
	.tabs .directory-content {
		box-shadow: none;
		background: none;
		float: right;
		width: 82.2%;
		font-size: 0;
		
		
		h2 {
			margin: -5px 0px 11px 0px;
			text-decoration: none;
			font-size: 36px;
			font-weight: normal;
		}
		
		
		div > ul > li {
			margin-bottom: 25px;
		}
		
		div > ul > li > a {
			text-decoration: none;
			font-size: 20px;
			font-weight: bold;
		}
		
		div > ul > li > ul > li > a {
			font-size: 17px;	
			text-decoration: none;
			border-bottom: 2px solid grey;
			
			&:hover {
				border-bottom: none;
			}
		}
		
		div > ul > li > ul {
			border-top: 3px solid #ffd93b;
			margin-top: 2px;
			padding-top: 16px;
			
		}
		.directory-button {
			margin: 20px 0 15px 0;
			display: inline-block;
			
			a {
				padding: 9px 18px;
				font-size: 14px;
				border-bottom: 3px solid #000;
			}
		}
		
	}
	
	$consultantsColor:  #fffefe;
	$buttonsWidth: 275px;
	
	
		.consultants {
			background-color: #2ecd71;
			width: 17%;
			min-width: 331px;
			padding: 26px 20px 29px 30px;
			overflow: hidden;
			
			box-shadow: 0px 5px 0 #595959;
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
			
			h2 {
				color: $consultantsColor;
				width: 260px;
				margin: 0 auto;
				font-size: 21px;
			}
			
			.buttons {
				text-align: center;
				width: $buttonsWidth;
				margin: 0 auto;
				position: relative;
				left: 6px;
	
			}
			.buttons  a{
				display: block;
				font-size: 18px;
			}
		}
		
		.consultant-info {
			color: $consultantsColor;
			width: 260px;
			margin: 15px auto;
			
			img {
				float: left;
				border: 3px solid white;
				border-radius: 45px;
				margin-right: 22px;
				position: relative;
				top: -4px;
			}
			
			p {
				margin: 0;
			}
			
			.consultant-name {
				font-size: 23px;
				font-size: 21px;				
			}
			.consultant-position {
				font-size: 15px;
			}
			.consultant-telephone {
				font-size: 16px;
				margin-top: 6px;
				margin-bottom: 23px;
			}
			
		}
		
		.calculate-wrapper {
			width: 17%;
			min-width: 335px;
			margin-top: 43px;
		
			
			.calculate {
				
				position: relative;
				left: 8px;
				
				a {
					display: block;		
					font-size: 18px;
					width: $buttonsWidth;
					margin: 0 auto;
					margin-bottom: 17px;
					
					
					&:hover {
						background-color: #696969;
						color: #ffd93b;;
					} 
				}
			}
			
			.calculator {
				background: url(../../img/calculate.png) -30px -38px #ffd93b no-repeat;
				padding-left: 53px;
				
				
			}
			
			.calculation {
				background: url(../../img/calculate.png) -32px -159px #ffd93b no-repeat;
				padding-left: 53px;				
			}
			
		}
		
		    

		
		
		@media (min-width: 1919px) {
			.tabs .directory-content > div > ul > li {
				width: 33.3%;
			}
		}
		@media (max-width: 1900px) {
			.tabs .directory-content {
				width: 80%;
			}
		}
		
		@media (max-width: 1700px) {
			.tabs .directory-content {
				width: 77%;
			}
			
			.tabs .directory-content > div > ul > li {
				width: 50%;
			}
		}
		@media (max-width: 1500px) {
			
			.tabs .directory-nav {
				margin-top: 39px;
				
			}
			
		
			.tabs .directory-content {
				width: 75.5%;
				
				div > ul > li > ul {
					padding-top: 20px;
					
					li > a {
						font-size: 15px;
					}
				}
				
				.directory-button a {
					padding: 9px 14px;
					font-size: 11px;
				}
			
			}
			
	
		}
		
		
		@media (max-width: 1365px) {
			.tabs .directory-content {
				width: 73%;
			}
		}	
		
		@media (max-width: 1279px) {
			.breadcrumbs-wrapper {
				min-height: 40px;
				
				.breadcrumbs {
					padding: 5px 30px;
					
					a {
						font-size: 13px;
					}
				}
			}
			
			
			.tabs  {			
				.directory-nav {
					width: 100%;
					margin-top: 27px;
					text-align: left;
					
					ul li {
						background-color: #ebebeb;
						margin-right: 10px;
						margin-top: 0px;
						border-radius: 6px;
								
						a {
							box-shadow: 0px 3px 0 #595959;
							font-size: 14px;
							padding: 3px 12px;
							border-radius: 6px;
						}
					}	
					
					ul li.active a {
						border-radius: 6px;
					}
				}
				
			
				.directory-content {
					width: 100%;
					float: none;
					margin-top: 0;
					
					
					h2 {
						text-align: center;
						font-size: 26px;
						padding-top: 0;
						margin: -5px 0px 7px 0px;
					}
					
					div > ul > li > ul > li {
						margin-bottom: 1px;
					}
					
					div > ul > li > a {
						font-size: 19px !important;
					}
					
					 .directory-button  {
						margin: 24px 0 15px 0;
						 a {
							 padding: 8px 14px;
							 font-size: 11px;
						 }
					 }
				}
			}
			
			.consultants-wrapper { 
				padding: 0 30px;

			}
			.consultants { 
				width: 100%;
				border-radius: 5px;
				padding: 5px 2px 22px 0px;
					
				h2 {
					font-size: 15px;
					text-align: center;
					width: 240px;
					margin: 12px auto;
				}
				
				.consultant-info {
					width: 181px;
					img {
						border: 5px solid white;
						border-radius: 50px;
						width: 57px;
						top: -3px;
						margin-right: 16px;
					}
					
					
					
					.consultant-telephone {
						text-align: center;
						padding-top: 10px;
						font-size: 18px;
					}
				}
				
				.buttons {
					margin-top: -18px;
					left: 0;
					width: 282px;
					
					a {
						font-size: 16px;
					}
				}
			}
			
			.calculate-wrapper {
				width: 100%;
				margin-top: 25px;
				margin-bottom: 35px;
				
				.calculate {
					text-align: center;
					left: 0;
					
					a {
						display: inline-block;
						margin: 0 13px 0px 12px;
						width: 339px;
						font-size: 16px;
					}
					
					.calculator {
						background: url(../../img/calculate.png) 52px -41px #ffd93b no-repeat;
						padding-left: 47px;
					}
					
					.calculation {
						background: url(../../img/calculate.png) 37px -160px #ffd93b no-repeat;
						padding-left: 50px;
					}
				}
				
			}
		}
		
		@media (max-width: 767px) {
			
			.breadcrumbs-wrapper {
				display: none;
			}
			
			
			.tabs  {		
				.directory-nav {
					min-width: 300px;
					margin-top: 43px;
					text-align: center;
					
						
					
					ul li {
						margin-right: 0;
						margin-bottom: 15px;
					}
				}
			
				.directory-content {
					text-align: left;
					padding-left: 20px;
					padding-right: 20px;
					
					
					h2 {
						font-size: 19px;
						margin: 0px 0px 15px 0px;
					}
					
					div > ul > li {
						width: 100%;
						margin-bottom: 40px;	

						ul > li {
							margin-bottom: 3px;
						}
						
						ul {
							padding-top: 10px;
							margin-top: 10px;							
						}

						
						a {
							font-size: 16px !important;
							font-weight: normal;
						}
					}
					
					.directory-button a {
						font-size: 11px !important;
						font-weight: normal;
						padding: 8px 16px;
					}
				}
			
				
				
			}
			
			.consultants-wrapper {
				padding: 0 20px;

				.consultants {
					min-width: 260px;
					
					h2 {
						font-size: 15px;
						width: 250px;
					}
					
					.consultant-info  {
						
						.consultant-position {
							margin-top: -3px;
						}
						

					}	
					
					.buttons {
						width: 214px;
						left: -3px;
						margin-top: -16px;
						
						a {
							font-size: 16px;
							border-bottom: 3px solid #000;
						}

					}
					
					
				}
			}
			
				
			.calculate-wrapper {
				min-width: 260px;
				margin-top: 15px;
				margin-bottom: 15px;
				
				.calculate {
					width: 280px;
					margin: 0 auto;
					text-align: left;
					
					a {
						width: 100%;
						margin: 0 0 15px 0;
						font-size: 15px;
					}
					
					.calculator {
						background: url(../../img/calculate.png) -28px -39px #ffd93b no-repeat;
						padding-left: 55px;
					}
					
					.calculation {
						background: url(../../img/calculate.png) -30px -160px #ffd93b no-repeat;
						padding-left: 55px;
					}
				}
				
			}
			
		}
		
	
		
	

/*End of directory page*/